# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# VS Code settings
.vscode/

# Uploads directory - temporary files
api/uploads/

# Model files - should be downloaded separately
*.pt
*.pth

# Dataset
*.jpg
*.jpeg
*.png
*.gif
*.bmp

# SQLite database
*.sqlite3
